@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This site allows users to view, create, edit, and delete movie, actor, and actor-movie relationship databases, along with ai generated reivews and tweets which have attached sentiment scores.</p>
</div>
